
<ion-content class="gmapPage">
  <button class="gmap-menu-button" ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
	<div class="form-group gmap-search">    
      <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control gmap-search-input" #search [formControl]="searchControl">
    <ion-icon name="locate" (click)="currenloct()" class="gmap-current-location"></ion-icon> 
  </div>
     <agm-map #agmMap [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false"  [zoom]="zoom" (mapClick)="mapClicked($event)" style="position:fixed;" >
        <agm-marker [latitude]="latitude" [longitude]="longitude" ></agm-marker>
         <agm-circle [latitude]="latitude" [longitude]="longitude" [radius]="50" [fillColor]="'blue'"></agm-circle>
         <agm-marker *ngFor="let m of tradersMarker; let i = index"
          [latitude]="m.lat" [longitude]="m.lng" [title]="m.title"
                                            [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)" [iconUrl]="m.icon" (markerClick)="clickedMarker(m.title, i)"></agm-marker>
      </agm-map>


  <div *ngIf="!data" class="welcome-info text-center">
      <div class="row no-margin footer-button-line-height white-text" text-center>
        <div col-6 offset-3><h3>Hi, Welcome </h3><hr style="height: 3.55px;
            background-color: rgba(255, 255, 255, 0.61);width: 50px;">
  </div>
        <div col-8 offset-2><p>To view nearby trader's please click on one of the ticker</p></div>

      </div>


  </div>
  <div *ngIf="data" class="trader-info" text-center>
      <div class="row no-margin footer-button-line-height white-text">
        <div col-8 offset-2><h3>Trader's Information</h3><hr style="    height: 3.55px;    background-color: rgb(40, 144, 252);    width: 50px;"></div>
        <div class="col-2" col-8 offset-2>
          <ion-icon name="contact" class="icon-chat-user"></ion-icon>
        </div>
        <div col-8 offset-2>
          <p><strong>Email: {{trderinfoGet?.email}}</strong></p>
        </div>
        <div col-12 text-center>

          <ion-row *ngFor="let trader of tradersUpdate">
            <ion-col col-4 offset-1 style="    background: #2890fc; border-radius: 15px;color: #fff;">
              <strong>buy</strong>-<strong>{{trader?.buyRate}} {{trader?.currencyType}}</strong>
            </ion-col>&nbsp;
            <ion-col col-3 style="    background: #2890fc; border-radius: 15px;color: #fff;">
              <strong>sell</strong>-<strong>{{trader?.sellRate}} {{trader?.currencyType}}</strong>
            </ion-col>&nbsp;
            <ion-col col-3 style="    background: #2890fc;border-radius: 15px; color: #fff;">
              <strong>volume</strong>-<strong>{{trader?.volume}}</strong>
            </ion-col>
          </ion-row>


         
        </div>
      </div>
    <div class="row no-margin footer-button-line-height white-text">
       <button ion-button block (click)="requestToTraders(trderinfoGet?.email)">Request</button>
    </div>
  </div>
</ion-content>
